form {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: var(--size-2);
  align-items: flex-end;
}

.loading { visibility: hidden; }
turbo-frame[busy] .loading { visibility: visible; }

.buffer-bottom-forms {
  margin-bottom: 18px;
}

.select-form {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  border: none;
  background: #f1f1f1;
  padding: 2px;
}
    
.select-form:hover {
  background-color: dodgerblue;
}