form {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: var(--size-2);
  align-items: flex-end;
}

.loading { visibility: hidden; }
turbo-frame[busy] .loading { visibility: visible; }

.buffer-bottom-forms {
  margin-bottom: 18px;
}