<div id="<%= dom_id cat %>">
  <p>
    <strong>Name:</strong>
    <%= cat.name %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= cat.color %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= cat.breed %>
  </p>

</div>
