<div class="buffer-both">
  <%= search_form_for @q do |f| %>
    <div class="container">
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3"> 
        <div class="col mb-3 mt-3">
          <% f.label :color_cont %>
          <%= f.select :color_cont, (Cat.all.collect { |cat| cat.color }).uniq, 
           { prompt: 'Select a color' },  class: "form-select" %>
        </div>

        <div class="col mb-3 mt-3">
          <% f.label :breed_cont %>
          <%= f.select :breed_cont, (Cat.all.collect { |cat| cat.breed }).uniq,
           { prompt: 'Select a breed' }, class: "form-select" %>
        </div>
    
        <div class="col mb-3 mt-3">
          <%= f.submit class: "form-control" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
  